.context {
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-image: url("../../../assets/Img/background.jpg");
  background-size: cover;

  background-color: #d93333;
}

.inner-wrapper {
  background-color: #c3b7b7cb;

  margin: 10px;
  padding: 20px 32px;
  height: calc(100vh - 5rem);

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  overflow: scroll;
  overflow-x: hidden;
}
