<div class="card">
  <div class="card-img">
    <div (click)="editCassete()" class="edit-cassete" *ngIf="isAdmin">
      <img src="../../../assets/Img/editing.png" alt="edit" />
    </div>
    <img src="../../../assets/Img/{{ pictureUrl }}" alt="card-picture" />
  </div>
  <div class="card-info">
    <p>Name : {{ card.name }}</p>
    <p>Available: {{ card.quantity }}</p>
  </div>
  <div class="card-buttons" *ngIf="showRentBtn">
    <button (click)="rent()" type="button" mat-raised-button>Rent</button>
    <button
      *ngIf="cassettsManage"
      (click)="return()"
      type="button"
      mat-raised-button
    >
      Return rented cassette
    </button>
  </div>
</div>
