/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables";

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 80%;
  margin: auto;
  background: $retroGray;
  min-height: 50rem;
  padding: 3rem;
  margin-top: 3rem;
  border-radius: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
